@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --color-1: #c93f1d;
    --color-2: #2f352c;
    --color-3: #1a1a1a;

    --color-1-lightest: #efa38f;
    --color-1-lighter: #e97e63;
    --color-1-light: #e25936;
    --color-1-dark: #9c3116;
    --color-1-darker: #702310;
    --color-1-darkest: #43150a;

    --color-2-lightest: #7a8970;
    --color-2-lighter: #616d5a;
    --color-2-light: #485143;
    --color-2-dark: #191c17;
    --color-2-darker: #020302;

    --color-3-light: #292929;
    --color-3-dark: #141414;

    --color-error: #ffd1d2;
    --color-success: #c8e675;
    --color-info: #d5ebfb;
    --color-notice: #fff099;
    --color-error-content: #bf4042;
    --color-success-content: #515c33;
    --color-info-content: #365368;
    --color-notice-content: #635d36;

    --color-black: #000000;
    --color-gray-19: #181818;
    --color-gray-18: #2f302f;
    --color-gray-17: #474747;
    --color-gray-16: #5e5f5e;
    --color-gray-15: #767776;
    --color-gray-14: #8e8f8e;
    --color-gray-13: #a5a7a5;
    --color-gray-12: #bdbebd;
    --color-gray-11: #d4d6d4;
    --color-gray-10: #eceeec;
    --color-gray-9: #eef0ee;
    --color-gray-8: #f0f1f0;
    --color-gray-7: #f2f3f2;
    --color-gray-6: #f4f5f4;
    --color-gray-5: #f6f7f6;
    --color-gray-4: #f7f8f7;
    --color-gray-3: #f9faf9;
    --color-gray-2: #fbfcfb;
    --color-gray-1: #fbfcfb;
    --color-white: #ffffff;

    --color-text: var(--color-gray-19);
    --color-text-dark: var(--color-3-dark);
    --color-text-light: var(--color-gray-15);
    --color-placeholder: var(--color-gray-13);

    --color-link: var(--color-1);
    --color-link-hover: var(--color-2-lighter);
    --color-link-active: var(--color-2-lighter);

    --color-btn: var(--color-gray-10);
    --color-btn-text: var(--color-text);
    --color-btn-hover: var(--color-gray-11);
    --color-btn-hover-text: var(--color-text);
    --color-btn-primary: var(--color-1);
    --color-btn-primary-text: var(--color-white);
    --color-btn-primary-hover: var(--color-1-light);
    --color-btn-primary-hover-text: var(--color-white);
    --color-btn-stroke: var(--color-text-dark);
    --color-btn-stroke-text: var(--color-text-dark);
    --color-btn-stroke-hover: var(--color-text-dark);
    --color-btn-stroke-hover-text: var(--color-white);

    --color-preloader-bg: var(--color-gray-10);
    --color-loader: var(--color-3);
    --color-loader-light: var(--color-gray-14);

    --color-body-bg: var(--color-gray-1);
    --color-border: rgba(0, 0, 0, .1);
    --border-radius: 5px;
}

.p-200 {
    padding: 200px 0px;
}

.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
}

.container {
    width: 100%;
    max-width: 85%;
    margin: 0 auto;
}

/* header  */
.header-bar {
    background: var(--color-black);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: absolute;
    z-index: 99;
    width: 100%;
    max-width: 85%;
    left: 50%;
    transform: translateX(-50%) !important;
    top: 20px;
}

.header_nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header_nav ul li a {
    color: var(--color-gray-14);
    font-size: 16px;
    display: block;
    text-transform: capitalize;
    padding: 0px 15px;
}

.header_nav ul li a:hover {
    color: var(--color-white);
}

.header_nav ul li.current a {
    color: var(--color-white);
}

.header-bar.header-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .5s ease;
    z-index: 9;
    animation: slide-down .5s;
}
@keyframes slide-down {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}


/* intro  */
.intro_section {
    background-color: var(--color-gray-10);
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 200px 0px 100px 0px;
}

.intro-details {
    width: 50%;
}

.intro-details span {
    color: var(--color-1);
    font-size: 24px;
    margin-bottom: 15px;
    display: block;
}

.intro-details h1 {
    color: var(--color-text-dark);
    font-size: 56px;
    margin-bottom: 50px;
}

.intro_-btns a {
    display: inline-block;
    padding: 0px 35px;
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 4px;
}

.intro_-btns a.btn--stroke {
    background-color: transparent;
    color: var(--color-black);
    margin-left: 15px;
}

.intro_-btns a:hover {
    background-color: var(--color-1);
    border: 2px solid var(--color-1);
}

.intro_-btns a.btn--stroke:hover {
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
}

.intro-media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
}

.intro-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.intro-media::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 0, 0) 15%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    opacity: 0.3;
}

.intro-media::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    pointer-events: none;
}

.intro-cv a {
    display: inline-block;
    padding: 0px 35px;
    border: 2px solid var(--color-white);
    color: var(--color-white);
    text-transform: uppercase;
    height: 55px;
    line-height: 55px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 4px;
    position: relative;
}

.intro-cv a::before {
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    background-color: white;
    position: absolute;
    top: calc(50% - 2px);
    right: 100%;
}

.intro-cv {
    position: absolute;
    z-index: 2;
    bottom: 100px;
    left: 55%;
}

.intro-cv a:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.intro-social-icon ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid var(--color-white);
    text-align: center;
    margin: 5px 0;
    line-height: 40px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--color-white);
}

.intro-social-icon ul li a:hover {
    background-color: var(--color-white);
    color: var(--color-black);
}

.intro-social-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
}

.intro-social-icon::before {
    position: absolute;
    width: 1px;
    height: 120px;
    top: 100%;
    background-color: var(--color-white);
    left: 50%;
    transform: translateX(-50%);
    content: '';
}

/* about  */
.no-title h2 {
    padding-top: 0.5em;
    margin-bottom: 0;
    text-transform: capitalize;
    font-size: 62px;
    font-family: "Delius", cursive;
}

.no-title {
    position: relative;
    z-index: 1;
}

.no-title::before {
    content: '01';
    font-weight: 600;
    font-size: 12rem;
    letter-spacing: -0.05em;
    line-height: 1;
    color: var(--color-gray-11);
    position: absolute;
    top: -0.25em;
    left: -0.1em;
    opacity: 0.5;
    z-index: -1;
}

.attention-getter {
    margin: 100px 0 50px 0px;
}

.attention-getter p {
    font-size: 22px;
    color: var(--color-black);
    margin: 20px 0;
    line-height: 36px;
}

.container-pro {
    max-width: 1280px;
}

.experience-section h2 {
    font-size: 26px;
    margin-bottom: 30px;
    position: relative;
    color: var(--color-black);
    display: inline-block;
}

.experience-section h2::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 100%;
    background-color: var(--color-1);
    left: -10px;
    top: 0;
}

ul.s-about__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.s-about__list li span {
    display: block;
    font-size: 20px;
    color: var(--color-1-dark);
    font-weight: bold;
}

/* work  */
.work-section {
    padding-bottom: 200px;
}

.work-section .no-title::before {
    content: '02';
}

.project-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
}

.project-box {
    border-radius: 10px;
    border: 1px solid var(--color-border);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: var(--color-white);
}

.project-img img {
    width: 100%;
    height: 100%;
}

.project-name {
    text-align: center;
    border-top: 1px solid var(--color-border);
    padding: 10px 20px;
}

.project-name a,
.more-project ul li a {
    color: var(--color-black);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.project-name a:hover,
.more-project ul li a:hover {
    color: var(--color-1);
}

.view-more-box {
    border: 0;
    box-shadow: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.view-more {
    display: inline-block;
    padding: 0px 35px;
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
    color: var(--color-white);
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.view-more:hover {
    background-color: var(--color-1);
    border: 2px solid var(--color-1);
}

.more-project {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 100%;
    max-width: 50%;
    border-radius: 5px;
    background-color: var(--color-white);
    z-index: 99;
    display: none;
}

.more-project-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0.5;
    display: none;
    z-index: 9;
}

.more-close-btn {
    font-size: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.more-project ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.more-project ul li a {
    font-size: 16px;
    border: 1px solid var(--color-border);
    padding: 10px 5px;
    display: block;
    border-radius: 5px;
    text-align: center;
}

.more-project-open,
.more-overlay-open {
    display: block;
}

.fix-body {
    overflow: hidden;
}

/* contact  */
.contact-section {
    background-color: var(--color-3);
}

.contact-section .no-title h2 {
    color: var(--color-white);
}

.contact-section .no-title::before {
    color: var(--color-white);
    content: '03';
}

.contact-section ul {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.contact-section ul li:first-child p {
    color: var(--color-gray-15);
    font-size: 20px;
    margin-bottom: 20px;
}

.contact-section ul li:first-child {
    width: 50%;
    padding-right: 100px;
}

.contact-section ul li {
    width: 20%;
}

.contact-section ul li h2 {
    font-size: 24px;
    color: var(--color-white);
    margin-bottom: 30px;
}

.contact-section ul li a {
    display: block;
    margin-bottom: 15px;
    color: var(--color-gray-15);
    font-size: 18px;
}

.contact-section ul li a:hover {
    color: var(--color-white);
}


/* back-top */
.back-top {
    width: 60px;
    height: 60px;
    border: 2px solid var(--color-white);
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    color: var(--color-white);
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

.back-top:hover {
    background-color: var(--color-1);
}


/* loader  */
#preloader {
    position: fixed;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: var(--color-preloader-bg);
    z-index: 500;
    height: 100vh;
    width: 100%;
    opacity: 1;
    overflow: hidden;
}

.no-js #preloader {
    display: none;
}

#loader {
    position: relative;
    width: 4px;
    height: 4px;
    padding: 0;
    display: inline-block;
}

#loader>div {
    content: "";
    background: var(--color-loader);
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

#loader>div:nth-of-type(1) {
    left: 15px;
}

#loader>div:nth-of-type(3) {
    left: -15px;
}

.dots-jump>div {
    animation: dots-jump 1.2s infinite ease;
    animation-delay: 0.2s;
}

.dots-jump>div:nth-of-type(1) {
    animation-delay: 0.4s;
}

.dots-jump>div:nth-of-type(3) {
    animation-delay: 0s;
}

@keyframes dots-jump {
    0% {
        top: 0;
    }

    40% {
        top: -6px;
    }

    80% {
        top: 0;
    }
}

.dots-fade>div {
    animation: dots-fade 1.6s infinite ease;
    animation-delay: 0.4s;
}

.dots-fade>div:nth-of-type(1) {
    animation-delay: 0.8s;
}

.dots-fade>div:nth-of-type(3) {
    animation-delay: 0s;
}

@keyframes dots-fade {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 0.2;
    }

    80% {
        opacity: 1;
    }
}

.dots-pulse>div {
    animation: dots-pulse 1.2s infinite ease;
    animation-delay: 0.2s;
}

.dots-pulse>div:nth-of-type(1) {
    animation-delay: 0.4s;
}

.dots-pulse>div:nth-of-type(3) {
    animation-delay: 0s;
}

@keyframes dots-pulse {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.3);
    }

    80% {
        transform: scale(1);
    }
}

.ss-loaded #preloader {
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s 0.9s ease-in-out;
}

.ss-loaded #preloader #loader {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}